/*  your css code here. If applicable */
.main-container{
	padding:20px;
	background-color:#f5f5f5;
	border:2px solid black;
	border-radius:10px;

}
.testimonial{
	padding:10px;
	border:2px solid #f5f5f5;
	background-color:white;
}
#author{
	text-align:right;
	font-style:italic;
}
#text{
	font-style:normal;
}





